/* ************************************* */
/**
 * @author : M.N.M Akeel
 * Registration Number : IT19153414
 */
/* ************************************* */


#UPHeadLine{
    font-size: 25px;
    font-weight: bold;
}

#checkB{
    margin-top: 10px;
    width: 50%;
    font-size: 14px;
}

#btnDiv{
    margin-top: -35px;
}

#btnDelete{
    background-color: #ff6801;
    position: relative;
    display: block;
    padding: 9px 19px 8px 19px;
    color: #FFF;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    width: 45%;
    border: 1px solid #ff6801;
    border-width: 1px 1px 3px;
    border-radius: 3px;
    margin: -6px 275px 15px;
}

#btnDelete:hover{
    background-color: #e96302;
}

/**
  ************************************************************************************
 */

.form-style-upRemResWork{
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    padding: 20px;
    background: #f2f2f2;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin: 0 auto 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-upRemResWork fieldset{
    border: none;
}
.form-style-upRemResWork legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-upRemResWork label {
    display: block;
    margin-bottom: 8px;
}
.form-style-upRemResWork input[type="text"],
.form-style-upRemResWork input[type="date"],
.form-style-upRemResWork input[type="file"],
.form-style-upRemResWork select {
    font-family: Georgia, "Times New Roman", Times, serif;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: #e6e6e6;
    color: #63686e;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin: 0 0 30px;
}
.form-style-upRemResWork input[type="text"]:focus,
.form-style-upRemResWork input[type="date"]:focus,
.form-style-upRemResWork input[type="file"] focus,
.form-style-upRemResWork select:focus{
    background: #e6e6e6;
}
.form-style-upRemResWork select{
    -webkit-appearance: menulist-button;
    height:35px;
}
.form-style-upRemResWork .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-upRemResWork input[type="submit"]
{
    position: relative;
    display: block;
    padding: 9px 19px 8px 19px;
    color: #FFF;
    background: #6dabe4;
    font-size: 16px;
    text-align: center;
    font-style: normal;
    width: 45%;
    border: 1px solid #62a1e0;
    border-width: 1px 1px 3px;
    border-radius: 3px;
    margin: -6px 275px 15px;
}


.form-style-upRemResWork input[type="button"] {
    position: relative;
    display: block;
    padding: 6px 6px 6px 6px;
    color: #FFF;
    background: #6dabe4;
    font-size: 16px;
    font-style: normal;
    width: 25%;
    border: 1px solid #62a1e0;
    border-width: 1px 1px 3px;
    border-radius: 3px;
    margin-top: -5px;
}

.form-style-upRemResWork input[type="submit"]:hover,
.form-style-upRemResWork input[type="button"]:hover
{
    background: #62a1e0;
}

/**
  ************************************************************************************
 */

/* *---------------------------  Title Styling ----------------------------------------* */

.box {
    position: relative;
    display: block;
    width: 100%;
}

.custom-underline {
    position: relative;
    display: inline-block;
    font-size: 28px !important;
    font-weight: bold;
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.normal-underline:hover {
    color: #444;
    text-decoration: underline;
}

.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
    color: black;
    text-decoration: none;
}

.custom-underline::after {
    content: "";
    position: absolute;
}

.box{
    height:125px;
    display: inline-block;
    margin:30px 0 0 0px;
    text-align: center;
}

.box .custom-underline::after {
    top: 65%;
    height: 2px !important;
    width: 40%;
    left: 31%;
    margin-top: 20px;
    background-color: black;
    transition: 0.4s ease-out all .1s;
}

.box:hover .custom-underline::after {
    width: 90%;
    left: 5%;
    transition: 0.5s ease all;
}

#divisionColor{
    background: #F0F0F0;
}
